docs/xml/db_model.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT attDefinition (#PCDATA)>
<!ELEMENT attKey (#PCDATA)>
<!ELEMENT attList (attListItem*)>
<!ELEMENT attListSortOrd (#PCDATA)>
<!ELEMENT attListType (#PCDATA)>
<!ELEMENT attListItem (attListValue, attListValueDesc?, attListSortOrd?)>
<!ELEMENT attListValueDesc (#PCDATA)>
<!ELEMENT attListValue (#PCDATA)>
<!ELEMENT attModel (#PCDATA)>
<!ELEMENT attName (#PCDATA)>
<!ELEMENT attNotes (#PCDATA)>
<!ELEMENT attNulls (#PCDATA)>
<!ELEMENT attReferences (#PCDATA)>
<!ELEMENT attType (#PCDATA)>
<!ELEMENT attribute (attName, attModel, attNulls, attType, attKey, attReferences, attListType, attList, attNotes, attDefinition)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT contributor (#PCDATA)>
<!ELEMENT dataModel (title, version, author, institution, contributor, description, date, entity+)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT description EMPTY>
<!ELEMENT entity (entityName, entitySummary, entityDescription, module, attribute+)>
<!ELEMENT entityDescription (#PCDATA)>
<!ELEMENT entityName (#PCDATA)>
<!ELEMENT entitySummary (#PCDATA)>
<!ELEMENT institution (#PCDATA)>
<!ELEMENT module (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT version (#PCDATA)>
