docs/xml/db_model_vegbank_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="entity_schema.xsd"/>
  <xs:element name="author" type="xs:string"/>
  <!-- document author  -->
  <xs:element name="contributor" type="xs:string"/>
  <xs:element name="dataModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="version"/>
        <xs:element ref="versionDesc"/>
        <xs:element ref="author"/>
        <xs:element ref="institution"/>
        <xs:element ref="contributor"/>
        <xs:element ref="description"/>
        <xs:element ref="date"/>
        <xs:element ref="entity" maxOccurs="unbounded"/>
        <xs:element ref="view" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="sequence" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueAttID">
      <xs:selector xpath="entity/attribute"/>
      <xs:field xpath="attID"/>
    </xs:unique>
  </xs:element>
  <xs:element name="date" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="institution" type="xs:string"/>
  <xs:element name="sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sequenceName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="view">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="viewName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sequenceName" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="version" type="xs:string"/>
  <xs:element name="versionDesc" type="xs:string"/>
  <xs:element name="viewName" type="xs:string"/>
</xs:schema>
