docs/xml/db_schema_changes_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="entity_schema.xsd"/>
  <xs:element name="change">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="entity" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="changeTypeType" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="modelChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="modelChangeID"/>
        <xs:element ref="modelChangeName"/>
        <xs:element ref="modelChangeStatus"/>
         <xs:element ref="modelChangeStatusComments" minOccurs="0"/>
        <xs:element ref="modelChangeVersion" minOccurs="0"/>
        <xs:element ref="modelChangeComments" minOccurs="0"/>
        <xs:element ref="modelChangeBugID" minOccurs="0"/>
        <xs:element ref="change" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modelChangeBugID" type="xs:string"/>
  <xs:element name="modelChangeComments" type="xs:string"/>
  <xs:element name="modelChangeDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="modelChange" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modelChangeID" type="xs:decimal"/>
  <xs:element name="modelChangeName" type="xs:string"/>
  <xs:element name="modelChangeStatus" type="xs:boolean"/>
  <xs:element name="modelChangeStatusComments" type="xs:string"/>
  <xs:element name="modelChangeVersion">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="unknown"/>
        <xs:enumeration value="none" />
        <xs:enumeration value="1.0.0"/>
        <xs:enumeration value="1.0.1"/>
        <xs:enumeration value="1.0.2"/>
        <xs:enumeration value="beta.1"/>
        <xs:enumeration value="beta.2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:simpleType name="changeTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="create field"/>
      <xs:enumeration value="create table"/>
      <xs:enumeration value="alter field"/>
      <xs:enumeration value="drop field"/>
      <xs:enumeration value="drop table"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
