web/forms/businessrules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="busRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="notes"/>
        <xs:element ref="sqlSrc"/>
        <xs:element ref="detailFields"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="businessRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="busRule" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detailFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="field" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="fieldType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_]+"/>
    </xs:restriction>
  </xs:simpleType>
 
 
    <xs:element name="field">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="fieldType">
          <xs:attribute name="get" type="xs:boolean"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="notEmpty">
    <xs:restriction base="xs:string">
      <xs:pattern value=".+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="name" type="notEmpty"/>
  <xs:element name="notes" type="notEmpty"/>
  <xs:element name="sqlSrc" type="sqlSrcType"/>
  <xs:simpleType name="sqlSrcType">
    <xs:restriction base="xs:string">
      <xs:pattern value="br_[a-z]+"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
