veg_taxa/xmlfiles/itis0725.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.0 NT (http://www.xmlspy.com) by Paula Ross Huddleston (USDA) -->
<!--W3C Schema generated by XML Spy v3.0 NT (http://www.xmlspy.com)-->
<!DOCTYPE xsd:schema PUBLIC "-//W3C//DTD XMLSCHEMA 19991216//EN" "" [
	<!ENTITY % p 'xsd:'>
	<!ENTITY % s ':xsd'>
]>
<xsd:schema xmlns:xsd="http://www.w3.org/1999/XMLSchema">
	<xsd:complexType name="AcquisitionDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="ActualPubDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="ApprovedIndType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="boolean"/>
	</xsd:complexType>
	<xsd:complexType name="AuthorType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="TaxonAuthor" type="TaxonAuthorType"/>
			<xsd:element name="AuthorUpdateDate" type="AuthorUpdateDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AuthorUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="ChildType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="Tsn" type="TsnType"/>
			<xsd:element name="ConcatenatedName" type="ConcatenatedNameType"/>
			<xsd:element name="Rank" type="RankType"/>
			<xsd:element name="Author" type="AuthorType"/>
		</xsd:sequence>
		<xsd:attribute name="NameIDRef" type="xsd:IDREF"/>
	</xsd:complexType>
	<xsd:complexType name="CommentType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="Commentator" type="CommentatorType"/>
			<xsd:element name="Detail" type="DetailType"/>
			<xsd:element name="CommentTimeStamp" type="CommentTimeStampType"/>
			<xsd:element name="CommentUpdateDate" type="CommentUpdateDateType"/>
			<xsd:element name="CommentLinkUpdateDate" type="CommentLinkUpdateDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommentLinkUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="CommentTimeStampType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="19"/>
	</xsd:complexType>
	<xsd:complexType name="CommentUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="CommentatorType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="100"/>
	</xsd:complexType>
	<xsd:complexType name="CommonNameType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="80"/>
	</xsd:complexType>
	<xsd:complexType name="CompletenessType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="ConcatenatedNameType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="280"/>
	</xsd:complexType>
	<xsd:complexType name="CredibilityRatingType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="40"/>
	</xsd:complexType>
	<xsd:complexType name="CurrencyType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="7"/>
	</xsd:complexType>
	<xsd:complexType name="DetailType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="500"/>
	</xsd:complexType>
	<xsd:complexType name="ExpCommentType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="500"/>
	</xsd:complexType>
	<xsd:complexType name="ExpNameType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="100"/>
	</xsd:complexType>
	<xsd:complexType name="ExpertType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="ExpName" type="ExpNameType"/>
			<xsd:element name="ExpComment" type="ExpCommentType"/>
			<xsd:element name="ExpertUpdateDate" type="ExpertUpdateDateType"/>
			<xsd:element name="OriginalDescInd" type="OriginalDescIndType"/>
			<xsd:element name="ExpertLinkUpdateDate" type="ExpertLinkUpdateDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExpertLinkUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="ExpertUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="GeographicDivisionType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="GeographicValue" type="GeographicValueType"/>
			<xsd:element name="GeographicUpdateDate" type="GeographicUpdateDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GeographicUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="GeographicValueType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="40"/>
	</xsd:complexType>
	<xsd:complexType name="InitialTimeStampType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="19"/>
	</xsd:complexType>
	<xsd:complexType name="IsbnType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="16"/>
	</xsd:complexType>
	<xsd:complexType name="IssnType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="16"/>
	</xsd:complexType>
	<xsd:element name="Itis">
		<xsd:complexType content="elementOnly">
			<xsd:sequence>
				<xsd:element name="RootTsn" type="RootTsnType"/>
				<xsd:element name="Names" type="NamesType"/>
			</xsd:sequence>
			<xsd:attribute name="xmlns:xsi" type="xsd:uriReference" use="default" value="http://www.w3.org/1999/XMLSchema-instance"/>
			<xsd:attribute name="xsi:noNamespaceSchemaLocation" type="xsd:string"/>
			<xsd:attribute name="xsi:schemaLocation" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="JurisdictionType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="JurisdictionValue" type="JurisdictionValueType"/>
			<xsd:element name="Origin" type="OriginType"/>
			<xsd:element name="JurisdictionUpdateDate" type="JurisdictionUpdateDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JurisdictionUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="JurisdictionValueType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="30"/>
	</xsd:complexType>
	<xsd:complexType name="KingdomType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="LanguageType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="15"/>
	</xsd:complexType>
	<xsd:complexType name="ListedPubDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="NameType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="Author" type="AuthorType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Kingdom" type="KingdomType"/>
			<xsd:element name="Rank" type="RankType"/>
			<xsd:element name="Tsn" type="TsnType"/>
			<xsd:element name="Parent" type="ParentType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ConcatenatedName" type="ConcatenatedNameType"/>
			<xsd:element name="Unit_Ind1" type="Unit_Ind1Type"/>
			<xsd:element name="Unit_Name1" type="Unit_Name1Type"/>
			<xsd:element name="Unit_Ind2" type="Unit_Ind2Type"/>
			<xsd:element name="Unit_Name2" type="Unit_Name2Type"/>
			<xsd:element name="Unit_Ind3" type="Unit_Ind3Type"/>
			<xsd:element name="Unit_Name3" type="Unit_Name3Type"/>
			<xsd:element name="Unit_Ind4" type="Unit_Ind4Type"/>
			<xsd:element name="Unit_Name4" type="Unit_Name4Type"/>
			<xsd:element name="Usage" type="UsageType"/>
			<xsd:element name="UnacceptabilityReason" type="UnacceptabilityReasonType"/>
			<xsd:element name="CredibilityRating" type="CredibilityRatingType"/>
			<xsd:element name="Completeness" type="CompletenessType"/>
			<xsd:element name="Currency" type="CurrencyType"/>
			<xsd:element name="InitialTimeStamp" type="InitialTimeStampType"/>
			<xsd:element name="NameUpdateDate" type="NameUpdateDateType"/>
			<xsd:element name="Child" type="ChildType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Synonym" type="SynonymType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Vernacular" type="VernacularType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GeographicDivision" type="GeographicDivisionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Jurisdiction" type="JurisdictionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Publication" type="PublicationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OtherSource" type="OtherSourceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Expert" type="ExpertType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="NameID" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="NameUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="NamesType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="Name" type="NameType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OriginType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="19"/>
	</xsd:complexType>
	<xsd:complexType name="OriginalDescIndType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="boolean"/>
	</xsd:complexType>
	<xsd:complexType name="OtherSourceType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="Source" type="SourceType"/>
			<xsd:element name="SourceType" type="SourceTypeType"/>
			<xsd:element name="Version" type="VersionType"/>
			<xsd:element name="AcquisitionDate" type="AcquisitionDateType"/>
			<xsd:element name="SourceComment" type="SourceCommentType"/>
			<xsd:element name="SourceUpdateDate" type="SourceUpdateDateType"/>
			<xsd:element name="OriginalDescInd" type="OriginalDescIndType"/>
			<xsd:element name="SourceLinkUpdateDate" type="SourceLinkUpdateDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PagesOldType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="15"/>
	</xsd:complexType>
	<xsd:complexType name="ParentType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="Tsn" type="TsnType"/>
			<xsd:element name="ConcatenatedName" type="ConcatenatedNameType"/>
			<xsd:element name="Rank" type="RankType"/>
			<xsd:element name="Author" type="AuthorType"/>
		</xsd:sequence>
		<xsd:attribute name="NameIDRef" type="xsd:IDREF"/>
	</xsd:complexType>
	<xsd:complexType name="PubCommentType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="500"/>
	</xsd:complexType>
	<xsd:complexType name="PubPlaceType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="40"/>
	</xsd:complexType>
	<xsd:complexType name="PublicationType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="ReferenceAuthor" type="ReferenceAuthorType"/>
			<xsd:element name="Title" type="TitleType"/>
			<xsd:element name="PublicationName" type="PublicationNameType"/>
			<xsd:element name="ListedPubDate" type="ListedPubDateType"/>
			<xsd:element name="ActualPubDate" type="ActualPubDateType"/>
			<xsd:element name="Publisher" type="PublisherType"/>
			<xsd:element name="PubPlace" type="PubPlaceType"/>
			<xsd:element name="Isbn" type="IsbnType"/>
			<xsd:element name="Issn" type="IssnType"/>
			<xsd:element name="PagesOld" type="PagesOldType"/>
			<xsd:element name="PubComment" type="PubCommentType"/>
			<xsd:element name="PublicationUpdateDate" type="PublicationUpdateDateType"/>
			<xsd:element name="OriginalDescInd" type="OriginalDescIndType"/>
			<xsd:element name="PublicationLinkUpdateDate" type="PublicationLinkUpdateDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PublicationLinkUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="PublicationNameType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="255"/>
	</xsd:complexType>
	<xsd:complexType name="PublicationUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="PublisherType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="80"/>
	</xsd:complexType>
	<xsd:complexType name="RankType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="15"/>
	</xsd:complexType>
	<xsd:complexType name="ReferenceAuthorType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="100"/>
	</xsd:complexType>
	<xsd:complexType name="RootTsnType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="long"/>
		<xsd:attribute name="NameIDRef" type="xsd:IDREF" use="required"/>
	</xsd:complexType>
	<xsd:element name="Roots">
		<xsd:complexType content="elementOnly">
			<xsd:sequence>
				<xsd:element name="RootTsn" type="RootTsnType" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="xmlns:xsi" type="xsd:uriReference" use="default" value="http://www.w3.org/1999/XMLSchema-instance"/>
			<xsd:attribute name="xsi:noNamespaceSchemaLocation" type="xsd:string"/>
			<xsd:attribute name="xsi:schemaLocation" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SourceType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="64"/>
	</xsd:complexType>
	<xsd:complexType name="SourceCommentType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="500"/>
	</xsd:complexType>
	<xsd:complexType name="SourceLinkUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="SourceTypeType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="SourceUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="SynonymType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="Tsn" type="TsnType"/>
			<xsd:element name="ConcatenatedName" type="ConcatenatedNameType"/>
			<xsd:element name="Rank" type="RankType"/>
			<xsd:element name="Author" type="AuthorType"/>
		</xsd:sequence>
		<xsd:attribute name="NameIDRef" type="xsd:IDREF"/>
	</xsd:complexType>
	<xsd:complexType name="TaxonAuthorType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="100"/>
	</xsd:complexType>
	<xsd:complexType name="TitleType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="255"/>
	</xsd:complexType>
	<xsd:complexType name="TsnType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="long"/>
	</xsd:complexType>
	<xsd:complexType name="UnacceptabilityReasonType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="24"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Ind1Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="1"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Ind2Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="1"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Ind3Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="7"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Ind4Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="7"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Name1Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="35"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Name2Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="35"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Name3Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="35"/>
	</xsd:complexType>
	<xsd:complexType name="Unit_Name4Type" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="35"/>
	</xsd:complexType>
	<xsd:complexType name="UsageType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="12"/>
	</xsd:complexType>
	<xsd:complexType name="VernacularType" content="elementOnly">
		<xsd:sequence>
			<xsd:element name="CommonName" type="CommonNameType"/>
			<xsd:element name="Language" type="LanguageType"/>
			<xsd:element name="ApprovedInd" type="ApprovedIndType"/>
			<xsd:element name="VernacularUpdateDate" type="VernacularUpdateDateType"/>
			<xsd:element name="Publication" type="PublicationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OtherSource" type="OtherSourceType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Expert" type="ExpertType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VernacularUpdateDateType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
	<xsd:complexType name="VersionType" base="xsd:string">
		<xsd:attribute name="Type" type="xsd:string" use="fixed" value="string"/>
		<xsd:attribute name="Size" type="xsd:string" use="fixed" value="10"/>
	</xsd:complexType>
</xsd:schema>
