web/vegbranch/docs/loadtbls/loadtbl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="DestinationField" type="xs:string"/>
  <xs:element name="FieldDefinition" type="xs:string"/>
  <xs:element name="FieldName" type="xs:string"/>
  <xs:element name="FieldSize" type="xs:string"/>
  <xs:element name="LoadModDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="table" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Module" type="xs:string"/>
  <xs:element name="Nulls" type="xs:string"/>
  <xs:element name="TableDescription" type="xs:string"/>
  <xs:element name="TableName" type="xs:string"/>
  <xs:element name="TableReqd" type="xs:string"/>
  <xs:element name="TableSummary" type="xs:string" />
   
  <xs:element name="dataType" type="xs:string"/>
  <xs:element name="example1" type="xs:string"/>
  <xs:element name="example2" type="xs:string"/>
  <xs:element name="example3" type="xs:string"/>
  <xs:element name="example4" type="xs:string"/>
  <xs:element name="exampleComments" type="xs:string"/>
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ordnung"/>
        <xs:element ref="fieldUseGroup"/>
        <xs:element ref="FieldName"/>
        <xs:element ref="example1"/>
        <xs:element ref="example2"/>
        <xs:element ref="example3"/>
        <xs:element ref="example4"/>
        <xs:element ref="exampleComments"/>
        <xs:element ref="FieldDefinition"/>
        <xs:element ref="DestinationField"/>
        <xs:element ref="Nulls"/>
        <xs:element ref="key"/>
        <xs:element ref="dataType"/>
        <xs:element ref="FieldSize"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fieldUseGroup" type="xs:byte"/>
  <xs:element name="key" type="xs:string"/>
  <xs:element name="ordnung" type="xs:decimal"/>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Module"/>
        <xs:element ref="TableName"/>
        <xs:element ref="TableSummary"/>
        <xs:element ref="TableDescription"/>
        <xs:element ref="TableReqd"/>
        <xs:element ref="tableNickName"/>
        <xs:element ref="field" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tableNickName" type="xs:string"/>
</xs:schema>
