web/help/manual/manual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="HTMLType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any/>
    </xs:choice>
    <xs:anyAttribute/>
  </xs:complexType>
  <xs:complexType name="aType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="target" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="a" type="aType"/>
  <xs:element name="b" type="HTMLType"/>
  <xs:element name="br">
    <xs:complexType/>
  </xs:element>
  <xs:element name="hr">
    <xs:complexType/>
  </xs:element>
  <xs:element name="highlight" type="highlightType"/>
  <xs:element name="strong" type="HTMLType"/>
  <xs:element name="p" type="HTMLType"/>
  <xs:element name="code" type="HTMLType"/>
  <xs:element name="ul" type="HTMLType"/>
  <xs:element name="li" type="HTMLType"/>
  <xs:element name="img" type="imgType"/>
  <xs:element name="span" type="HTMLType"/>
  <!-- the following are just generic HTML elements: -->
  <xs:element name="abbr" type="HTMLType"/>
  <xs:element name="acronym" type="HTMLType"/>
  <xs:element name="address" type="HTMLType"/>
  <xs:element name="area" type="HTMLType"/>
  <xs:element name="bdo" type="HTMLType"/>
  <xs:element name="big" type="HTMLType"/>
  <xs:element name="blockquote" type="HTMLType"/>
  <xs:element name="button" type="HTMLType"/>
  <xs:element name="caption" type="HTMLType"/>
  <xs:element name="center" type="HTMLType"/>
  <xs:element name="cite" type="HTMLType"/>
  <xs:element name="col" type="HTMLType"/>
  <xs:element name="colgroup" type="HTMLType"/>
  <xs:element name="dd" type="HTMLType"/>
  <xs:element name="del" type="HTMLType"/>
  <xs:element name="dir" type="HTMLType"/>
  <xs:element name="div" type="HTMLType"/>
  <xs:element name="dfn" type="HTMLType"/>
  <xs:element name="dl" type="HTMLType"/>
  <xs:element name="dt" type="HTMLType"/>
  <xs:element name="em" type="HTMLType"/>
  <xs:element name="fieldset" type="HTMLType"/>
  <xs:element name="font" type="HTMLType"/>
  <xs:element name="form" type="HTMLType"/>
  <xs:element name="h1" type="HTMLType"/>
  <xs:element name="h2" type="HTMLType"/>
  <xs:element name="h3" type="HTMLType"/>
  <xs:element name="h4" type="HTMLType"/>
  <xs:element name="i" type="HTMLType"/>
  <xs:element name="iframe" type="HTMLType"/>
  <xs:element name="input" type="HTMLType"/>
  <xs:element name="ins" type="HTMLType"/>
  <xs:element name="isindex" type="HTMLType"/>
  <xs:element name="kbd" type="HTMLType"/>
  <xs:element name="label" type="HTMLType"/>
  <xs:element name="legend" type="HTMLType"/>
  <xs:element name="link" type="HTMLType"/>
  <xs:element name="map" type="HTMLType"/>
  <xs:element name="menu" type="HTMLType"/>
  <xs:element name="meta" type="HTMLType"/>
  <xs:element name="noscript" type="HTMLType"/>
  <xs:element name="object" type="HTMLType"/>
  <xs:element name="ol" type="HTMLType"/>
  <xs:element name="optgroup" type="HTMLType"/>
  <xs:element name="option" type="HTMLType"/>
  <xs:element name="param" type="HTMLType"/>
  <xs:element name="pre" type="HTMLType"/>
  <xs:element name="q" type="HTMLType"/>
  <xs:element name="s" type="HTMLType"/>
  <xs:element name="samp" type="HTMLType"/>
  <xs:element name="script" type="HTMLType"/>
  <xs:element name="select" type="HTMLType"/>
  <xs:element name="small" type="HTMLType"/>
  <xs:element name="strike" type="HTMLType"/>
  <xs:element name="style" type="HTMLType"/>
  <xs:element name="sub" type="HTMLType"/>
  <xs:element name="sup" type="HTMLType"/>
  <xs:element name="table" type="HTMLType"/>
  <xs:element name="tbody" type="HTMLType"/>
  <xs:element name="td" type="HTMLType"/>
  <xs:element name="textarea" type="HTMLType"/>
  <xs:element name="tfoot" type="HTMLType"/>
  <xs:element name="th" type="HTMLType"/>
  <xs:element name="thead" type="HTMLType"/>
  <xs:element name="title" type="HTMLType"/>
  <xs:element name="tr" type="HTMLType"/>
  <xs:element name="tt" type="HTMLType"/>
  <xs:element name="u" type="HTMLType"/>
  <xs:element name="var" type="HTMLType"/>
  <xs:element name="xmp" type="HTMLType"/>
  <xs:complexType name="highlightType">
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="imgType">
    <xs:attribute name="src" type="xs:string" use="required"/>
    <xs:attribute name="alt" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:element name="manualDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="manualItem" type="manualItemType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="manualItemType" mixed="true">
    <xs:sequence>
      <xs:element name="manualHTML" type="HTMLType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="manualItem" type="manualItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="finish" type="xs:boolean" use="optional"/>
    <xs:attribute name="refURL" type="xs:string" use="optional"/>
    <xs:attribute name="name" type="validManualNamesType" use="required"/>
    <xs:attribute name="topic" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="pType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="strong" ref="strong"/>
      <xs:element name="highlight" type="highlightType"/>
      <xs:element name="a" type="aType"/>
      <xs:element name="span" type="spanType"/>
      <xs:element name="img" type="imgType"/>
      <xs:element name="br" ref="br"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="spanType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="b" ref="b"/>
    </xs:choice>
    <xs:attribute name="class" type="xs:string" use="required"/>
  </xs:complexType>
    <xs:simpleType name="validManualNamesType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z\-]+"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
