veg_plot/exp/vegclient/lib/tvexport.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.0 U (http://www.xmlspy.com) by Robert K. Peet (private) -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT Plot_package (UserName, TemplateType, SpeciesListUsed, Plot+, Coverscale_list+, Reference_list+, Country_list+, Author_list+, Project_list+, Syntaxon_list+, Species_list+)>
<!ELEMENT Plot (releve_nr*, country*, reference*, table_nr*, nr_in_tab*, coverscale*, project*, author*, date*, syntaxon*, surf_area*, utm*, altitude*, exposition*, inclinatio*, cov_total*, cov_trees*, cov_shrubs*, cov_herbs*, cov_mosses*, cov_lichen*, cov_algae*, cov_litter*, cov_water*, cov_rock*, tree_high*, tree_low*, shrub_high*, shrub_low*, herb_high*, herb_low*, herb_max*, crypt_high*, moss_ident*, lich_ident*, remarks*, UDFH_data*, Species_data*)>
<!ELEMENT UserName (#PCDATA)>
<!ELEMENT TemplateType (#PCDATA)>
<!-- turboveg, esa -->
<!ELEMENT SpeciesListUsed (#PCDATA)>
<!ELEMENT altitude (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT cov_algae (#PCDATA)>
<!ELEMENT cov_herbs (#PCDATA)>
<!ELEMENT cov_lichen (#PCDATA)>
<!ELEMENT cov_litter (#PCDATA)>
<!ELEMENT cov_mosses (#PCDATA)>
<!-- in percent -->
<!ELEMENT cov_rock (#PCDATA)>
<!ELEMENT cov_shrubs (#PCDATA)>
<!ELEMENT cov_total (#PCDATA)>
<!ELEMENT cov_trees (#PCDATA)>
<!ELEMENT cov_water (#PCDATA)>
<!ELEMENT coverscale (#PCDATA)>
<!ELEMENT crypt_high (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT exposition (#PCDATA)>
<!ELEMENT herb_high (#PCDATA)>
<!ELEMENT herb_low (#PCDATA)>
<!ELEMENT herb_max (#PCDATA)>
<!ELEMENT inclinatio (#PCDATA)>
<!ELEMENT lich_ident (#PCDATA)>
<!ELEMENT moss_ident (#PCDATA)>
<!ELEMENT nr_in_tab (#PCDATA)>
<!ELEMENT project (#PCDATA)>
<!ELEMENT reference (#PCDATA)>
<!ELEMENT releve_nr (#PCDATA)>
<!ELEMENT remarks (#PCDATA)>
<!ELEMENT shrub_high (#PCDATA)>
<!ELEMENT shrub_low (#PCDATA)>
<!ELEMENT surf_area (#PCDATA)>
<!ELEMENT syntaxon (#PCDATA)>
<!ELEMENT table_nr (#PCDATA)>
<!ELEMENT tree_high (#PCDATA)>
<!ELEMENT tree_low (#PCDATA)>
<!ELEMENT utm (#PCDATA)>
<!ELEMENT UDFH_data (udfh_ispredefined+, udfh_name+, udfh_type+, udfh_value+)>
<!ELEMENT udfh_dictionary (#PCDATA)>
<!ELEMENT udfh_ispredefined (#PCDATA)>
<!ELEMENT udfh_name (#PCDATA)>
<!ELEMENT udfh_type (#PCDATA)>
<!ELEMENT udfh_value (#PCDATA)>
<!ELEMENT Species_data (species_nr, Species_observations+)>
<!ELEMENT species_nr (#PCDATA)>
<!ELEMENT Species_observations (species_cover_code+, species_layer+, UDFS_data*)>
<!ELEMENT species_cover_code (#PCDATA)>
<!ELEMENT species_layer (#PCDATA)>
<!ELEMENT UDFS_data (udfs_ispredefined+, udfs_name+, udfs_type+, udfs_value*)>
<!ELEMENT udfs_dictionary (#PCDATA)>
<!ELEMENT udfs_ispredefined (#PCDATA)>
<!ELEMENT udfs_name (#PCDATA)>
<!ELEMENT udfs_type (#PCDATA)>
<!ELEMENT udfs_value (#PCDATA)>
<!ELEMENT Coverscale_list (cover_method_code*, cover_method_desc*, cover_method_data*)>
<!ELEMENT cover_method_code (#PCDATA)>
<!ELEMENT cover_method_desc (#PCDATA)>
<!ELEMENT cover_method_data (cover_code, cover_percentage)>
<!ELEMENT cover_code (#PCDATA)>
<!ELEMENT cover_percentage (#PCDATA)>
<!ELEMENT Reference_list (reference_code*, reference_author*, reference_year*, reference_title*, reference_published*)>
<!ELEMENT reference_code (#PCDATA)>
<!ELEMENT reference_author (#PCDATA)>
<!ELEMENT reference_year (#PCDATA)>
<!ELEMENT reference_title (#PCDATA)>
<!ELEMENT reference_published (#PCDATA)>
<!ELEMENT Country_list (country_code*, country_desc*)>
<!ELEMENT country_code (#PCDATA)>
<!ELEMENT country_desc (#PCDATA)>
<!ELEMENT Author_list (author_code*, author_desc*)>
<!ELEMENT author_code (#PCDATA)>
<!ELEMENT author_desc (#PCDATA)>
<!ELEMENT Project_list (project_code*, project_desc*)>
<!ELEMENT project_code (#PCDATA)>
<!ELEMENT project_desc (#PCDATA)>
<!ELEMENT Syntaxon_list (syntaxon_code*, syntaxon_desc*)>
<!ELEMENT syntaxon_code (#PCDATA)>
<!ELEMENT syntaxon_desc (#PCDATA)>
<!ELEMENT Species_list (species_list_nr*, species_list_code*, species_list_name*)>
<!ELEMENT species_list_nr (#PCDATA)>
<!ELEMENT species_list_code (#PCDATA)>
<!ELEMENT species_list_name (#PCDATA)>
